node_modules/
.expo/
.idea
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
ios/
ios/*
ios/main.jsbundle
ios/**/*
android/
android/*
android/**/*

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.expo/*
npm-debug.*
package-lock.json

build/

.gradle
local.properties
*.iml
*.hprof